<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Stream Setup Assistant</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="body-main">
<header th:include="fragments/navigation"></header>

    <div class="container" style="height:100vh">
        <div class="row bg-white my-auto align-items-center">
            <div class="column-left col-md-6 my-4"><h1 class="text-center">Become a <span style="color: rgb(99,219,255)">Streamer</span> now
            </h1>
                <a data-mdb-ripple-color="#000000" class="btn btn-access" href="/access">
                    Get Access
                </a>
            </div>
            <div class="column-right col-md-6 my-4 text-center">
                <img height=400px width=500px src="/images/pic1.png" alt="Stream Preview"></div>
        </div>


        <div class="row bg-white my-auto align-items-center">
            <div class="column-left col-md-6 my-4 text-center">
                <img class="rounded-3" height=300px width=400px src="/images/pic2.jpg" alt="Stream Overlay"></div>

            <div class="column-right col-md-6 my-4 text-center"><h1>
                <span style="color: rgb(43, 91, 215)">Personalize your streams</span>
                with our exclusive overlays</h1></div>
        </div>

        <div class="row bg-white my-auto align-items-center">
            <div class="column-left col-md-6 my-4 text-center">
                <h1>Allow
                    <span style="color: rgb(255,166,26)">us</span>
                    to set everything up for
                    <span style="color: rgb(255,166,26)">you</span>
                </h1>
            </div>
            <div class="column-right col-md-6 my-4 align-items-center text-center"><img height=400px width=400px src="/images/pic3.png" alt="Wrench">
            </div>
        </div>
    </div>
</body>
<footer class="container text-white">
    <p>&copy;Made by Dazzy</p>
</footer>
</html>